- var titles = ['Айболит круглосуточная ветклиника', 'Комфортные оборудованные стационары', 'Новейшее европейское оборудование', 'Собственная современная лаборатория', 'Аптека и зоомагазин по доступным ценам', 'Груминг салон и косметические товары']

.welcome 
  .container
    .welcome--wrap
      .social
        - for (var i=0; i<4; i++)
          button(type='button', name='stock').btn_social
            +icon('social' + i)
      .phone
        a(href="tel:78442962292")
          | +7 (8442) 96 22 92
      .swiper
        .swiper-wrapper
          - for (var j=0; j<6; j++)
            .swiper-slide
              .slide
                h2= titles[j]
                a(href="#").btn_signup
                  | ЗАПИСАТЬСЯ
                img(src='/static/img/content/slide'+ j +'.png')
        .swiper-pagination

- var numServices = ['25', '100', '70', '38', '27', '27', '20', '20', '25', '100', '70', '38', '27', '27', '20', '20']
- var servicesInfo = ['Терапия', 'Хирургия', 'Неврология', 'Ортопедия', 'Дерматология', 'Офтальмология', 'Кардиология', 'Стоматология', 'Репродуктология', 'Визуальная диагностика', 'Лаборатория', 'Онкология', 'Эндокринология', 'Экзотические животные', 'Аптека', 'Груминг']

.menu-full
  .container
    .row 
      - for (var i=0; i<16; i++)
        .col-xl-3.col-lg-6.mb-4
          a(href="#")
            .block 
              .__info
                p= servicesInfo[i]
              .__serv
                p= numServices[i]
                  span услуг
                +icon('vector' + i)

.mini-history--wrap
  .container
    .mini-history
      .__company
        h3 История компании
        p История компании начинается 14 января 1999 года, когда было образовано ООО «Чижи». Идея пришла, т.к. у основателя компании Прозор Жанны Георгиевны была собака боксёр по кличке Бард…
        +link('#', 'ЧИТАТЬ ДАЛЕЕ', 'btn_read-more')
      .__specialists
        h3 Наши специалисты
        .swiper 
          .swiper-wrapper
            - for (var i=0; i<6; i++)
              .swiper-slide
                img(src='/static/img/content/circle'+ i +'.png')
        .swiper-button-prev
          +icon("arrow")
        .swiper-button-next
          +icon("arrow")
        +link('#', 'ПОСМОТРЕТЬ ВСЕХ', 'btn_show-all')

.number 
  .container
    .row.justify-content-center
      .col-12
        h3 1 150 000
        p
          | питомцам мы помогли
          br
          | за 18 лет работы
        img(src='/static/img/content/bird.png')

- var chooseHead = ['Работаем круглосуточно', 'Широкий спектр услуг', 'Большой опыт', 'Собственная лаборатория', 'Оснащенные стационары', 'Новейшее оборудование', 'Запись на прием онлайн', 'Аптека и зоомагазин', 'Груминг-салон']
- var chooseInfo = ['Мы готовы в любое время суток принять домашних питомцев и их хозяев', 'Кроме широкопрофильных докторов  в клинике развиты узкие направления в ветеринарии – офтальмология, стоматология, дерматология, травматология, ортопедия и онкология', '30 высококвалифицированных врачей нашей клиники предоставляют ветеринарную помощь уже на протяжении 18 лет!', 'Оборудованная профессиональным оснащением производства компании IDEXX International Inc.(США), которое позволяет получить результаты исследования прямо на приеме', 'Обычный и инфекционный стационар с индивидуальным подогревом каждой клетки. Для питомцев в критическом состоянии предусмотрены кислородные камеры', 'Помимо лабораторного оборудования и цифрового рентгена в клинике используется современный эндоскоп KARL STORZ', 'Запись на приём позволяет избежать ожиданий в очереди, но если вы не можете приехать - мы выезжаем на дом!', 'Для удобства в клинике предусмотрен аптечный пункт, а также бутик с одеждой и косметическими средствами для ухода за домашними любимцами', 'Отдельный кабинет для проведения гигиенческих и косметических процедур, таких как мытьё и сушка, стрижка или тримминг, уход за ушами, глазами и когтями и многое другое']

.choose
  .container
    h3 Почему хозяева выбирают нас?
    .row
      - for (var i=0; i<9; i++)
        .col-xl-4.col-lg-6
          .card 
            p= chooseHead[i]
            .__info
              .__pic
                +icon('choose' + i)
              .__text
                p= chooseInfo[i]

.app--wrap
  .container
    .app
      span скоро
      h3 Удобное приложение для питомцев и их хозяев
      .app-logo
        a(href="#")
          img(src='/static/img/content/appstore.png')
        a(href="#")
          img(src='/static/img/content/googleplay.png')
      .app-img
        img(src='/static/img/content/app.png')

- var contactLocation = ['Айболит на Краснополянской', 'Айболит на Тулака']
- var contactAddr = ['Дзержинский район, ул. Краснополянская, 30', '96 22 92', 'Круглосуточно']

.contact 
  .container
    h4 Контакты
    .row
      .col-lg-4
        .info 
          - for (var i=0; i<2; i++)
            .__card
              p= contactLocation[i]
                - for (var j=0; j<3; j++)
                  .__box
                    +icon('places' + j)
                    span= contactAddr[j]
      .col-lg-8
        .map
          iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10381.65464169091!2d26.97045511336204!3d49.41999303504109!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1670347850573!5m2!1sru!2sua")

